<% @popular_culture.each do |popular_culture| %>
<tr>
  <td><%= popular_culture.sport %></td>
  <td><%= popular_culture.movie %></td>
  <td><%= popular_culture.television %></td>
  <td><%= popular_culture.fashion %></td>
  <td><%= popular_culture.music %></td>
  <td><%= popular_culture.entertaiment %> </td>
  <td><%= popular_culture.religion %></td>
</tr>
<% end %>