
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-left">
                     <li>
                       <%= link_to "Country", country_cultures_path %>
                    </li>
                     <li>
                        <%= link_to "Community", communities_path %>
                    </li>
                     <li>
                       <%= link_to "Bond culture", bond_cultures_path %>
                    </li>
                     <li>
                        <%= link_to "High culture", high_cultures_path %>
                    </li>
                     <li>
                        <%= link_to "Pop culture", popular_cultures_path %>
                    </li>
                    




<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%#= gravatar_for(@user) %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>